<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->

<div class="container">
  <h1>Stupid Coaching</h1>

  <p>Ask your coach anything:</p>

  <form action="/questions/answer">
    <input type="text" name="question" class="input-field">
    <input type="submit" value="Ask" class="submit-btn">
  </form>
</div>
